<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>{{ title }}</title>
        <style>
            div.note {
                border: 1px solid #eaeaea;
            }
            blockquote:before {
                content: "“";
            }
            blockquote:after {
                content: "”";
            }
        </style>
        <link href="{{ url }}atom.xml" rel="alternate" title="Notes"
              type="application/atom+xml" />
        <link href="{{ url }}twtxt.txt" rel="alternate" title="Notes"
              type="application/vnd.twtxt" />
    </head>
    <body>
        <div class="timeline">
            {% for note in notes | sort(reverse=True, attribute='timestamp') %}
                <div class="note" id="TS{{ note.timestamp }}">
                    {% if 'in_reply_to' in note %}
                        {% if 'url' in note.in_reply_to %}
                            <p>
                                In response to
                                <a href="{{ note.in_reply_to.url }}">
                                    {{ note.in_reply_to.title }}
                                </a>:
                            </p>
                        {% elif 'self' in note.in_reply_to %}
                            <p>
                                In reply to
                                <a href="#TS{{ note.in_reply_to.self }}">my post</a>
                                on <time>{{ note.in_reply_to.self }}</time>:
                            </p>
                        {% else %}
                            <p>
                                In reply to {{ note.in_reply_to.toot.user }}'s post
                                on
                                <time>{{ note.in_reply_to.toot.timestamp }}</time>:
                            </p>
                            <blockquote>{{ note.in_reply_to.text }}</blockquote>
                        {% endif %}
                    {% endif %}
                    {% if 'media' in note %}
                        {% if 'link' in note.media %}
                            <a href="{{ note.media.link }}">
                        {% endif %}
                        <img src="media/{{ note.media.file }}"
                             alt="{{ note.media.comment }}"
                             width="33%" />
                        {% if 'link' in note.media %}
                            </a>
                        {% endif %}
                    {% endif %}
                    <p class="text">{{ note.text }}</p>
                    {% if 'references' in note %}
                        <ul>
                            {% for ref in note.references %}
                                <li>
                                    <a href="{{ ref.url }}">
                                        <cite>{{ ref.title }}</cite>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <time>{{ note.timestamp }}</time>
                </div>
            {% endfor %}
        </div>
    </body>
</html>
