{%- macro dt_elem(ts, published=False) -%}
    <time {% if published %}class="dt-published" {% endif -%}
        datetime="{{ ts.isoformat() }}">
        {{- ts.strftime('%b %d, %H:%M') -}}
    </time>
{%- endmacro -%}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>{{ title }}</title>
        <style>
            div.note {
                border: 1px solid #eaeaea;
            }
            blockquote:before {
                content: "“";
            }
            blockquote:after {
                content: "”";
            }
            a.p-author img {
                border-radius: 50%;
                float: right;
                height: 80px;
                margin-left: 30px;
                width: 80px;
            }
            p.meta {
                clear: both;
                font-size: small;
                text-align: right;
            }
        </style>
        <link href="{{ url }}atom.xml" rel="alternate" title="Notes"
              type="application/atom+xml" />
        <link href="{{ url }}feed.json" rel="alternate" title="Notes"
              type="application/json" />
        <link href="{{ url }}twtxt.txt" rel="alternate" title="Notes"
              type="application/vnd.twtxt" />
    </head>
    <body>
        <div class="timeline">
            {% for note in notes | sort(reverse=True, attribute='timestamp') %}
                <div class="note h-entry"
                     id="TS{{ note.timestamp.isoformat() }}">
                    <a class="p-author h-card" href="{{ url }}">
                        <img alt="{{ author.nick }}" src="{{ logo }}"/>
                    </a>
                    {% if 'in_reply_to' in note %}
                        {% if 'url' in note.in_reply_to %}
                            <p>
                                In response to
                                <a href="{{ note.in_reply_to.url }}"
                                   class="u-in-reply-to">
                                    {{ note.in_reply_to.title }}
                                </a>:
                            </p>
                        {% elif 'self' in note.in_reply_to %}
                            <p>
                                In reply to
                                <a href="#TS{{ note.in_reply_to.self }}"
                                   class="u-in-reply-to">my post</a>
                                on
                                {{ dt_elem(note.in_reply_to.self) }}:
                            </p>
                        {% else %}
                            <p>
                                In reply to {{ note.in_reply_to.toot.user }}'s post
                                on
                                {{ dt_elem(note.in_reply_to.toot.timestamp) }}:
                            </p>
                            <blockquote>{{ note.in_reply_to.text }}</blockquote>
                        {% endif %}
                    {% endif %}
                    {% if 'media' in note %}
                        {% if 'link' in note.media %}
                            <a href="{{ note.media.link }}">
                        {% endif %}
                        <img src="media/{{ note.media.file }}"
                             class="u-photo"
                             alt="{{ note.media.comment }}"
                             width="33%" />
                        {% if 'link' in note.media %}
                            </a>
                        {% endif %}
                    {% endif %}
                    <p class="e-content">{{ note.text }}</p>
                    {% if 'references' in note %}
                        <ul>
                            {% for ref in note.references %}
                                <li>
                                    <a href="{{ ref.url }}">
                                        <cite>{{ ref.title }}</cite>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <p class="meta">
                        {{ dt_elem(note.timestamp, True) }}
                        ·
                        <a href="https://github.com/{{ github_repo }}/
                            {%- if note.issue -%}
                                issue/{{ note.issue }}
                            {%- else -%}
                                issues/new
                            {%- endif -%}
                            ">Reply</a>
                    </p>
                </div>
            {% endfor %}
        </div>
    </body>
</html>
